body{
  background-image: url('../assests/beekeepers.jpg');
  background-size: cover;
  background-position: bottom;
  background-position: top;
  
}

nav {
    background-color: lightblue; /* Change the background color */
    text-align: center;
  }
  
  nav a {
    color: white; /* Change the text color */
    text-decoration: none; /* Remove the underline from the links */
    padding: 10px; /* Add some padding to the links */
    display: inline-block; /* Make the links appear next to each other */
  }
  
  nav a:hover {
    background-color: blue; /* Change the background color on hover */
  }
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 2px solid blue;
  }

  #btnStart{
    margin-top: 300px;
    margin-left: 150px;
    font-family: Arial;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: blue;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
  }
  #btnStart:hover {
    background-color: darkblue;
  }
  
#mapDiv{
  display: flex;
  align-items: center;
  justify-content: center;
}
  #map {
     height: 450px; 
     width: 450px;
     margin-top: 50px;
     
  }